<md-card style="min-width: 320px; max-width: 480px;">
  <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off" md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Sign In</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>

      <md-input-container class="md-block" show-errors>
        <label>Username or Email</label>
        <input md-no-asterisk name="usernameOrEmail" ng-model="vm.credentials.usernameOrEmail" required>
        <div ng-messages="vm.userForm.usernameOrEmail.$error">
          <div ng-message="required">Username or Email is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" show-errors style="padding-right: 0;">
        <label>Password</label>
        <input name="password" ng-model="vm.credentials.password" type="{{showpassword ? 'text' : 'password'}}" required>
        <md-icon ng-click="showpassword = !showpassword">{{showpassword ? 'visibility' : 'visibility_off'}}</md-icon>
        <div ng-messages="vm.form.categoryForm.name.$error">
          <div ng-message="required">Password is required.</div>
        </div>
      </md-input-container>

    </md-card-content>
    <md-card-actions layout="row" layout-align="start center">
      <md-button class="md-primary" type="submit">Sign in</md-button>
      <!--<md-button ui-sref="admin.authentication.signup">Sign up</md-button>
      <md-button ui-sref="admin.password.forgot">Forgot your password?</md-button>-->
    </md-card-actions>
  </form>
</md-card>
