<form method="POST" enctype="multipart/form-data">
    <ul class="nav nav-tabs pt-1" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#main">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#import">Link</a>
        </li>
        <li class="float-xs-right" style="margin-top: -1rem;">
            <button type="submit" class="btn btn-primary"><i class="mdi mdi-check"></i> Save</button>
        </li>
    </ul>

    <div class="tab-content py-1">
        <div class="tab-pane active" id="main" role="tabpanel">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputSettingsGlobalSitename">Site Name</label>
                        <input name="settings[global][sitename]" type="text" class="form-control" id="inputSettingsGlobalSitename" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputSettingsGlobalContactEmail">Contact Email</label>
                        <input name="settings[global][contact][email]" type="email" class="form-control" id="inputSettingsGlobalContactEmail" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="inputSettingsGlobalContactAddress">Contact Address</label>
                        <input name="settings[global][contact][address]" type="email" class="form-control" id="inputSettingsGlobalContactAddress" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="catalog" role="tabpanel">
            <h4>Product</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputSettingsProductMetaTitleTemplate">Meta Title Template</label>
                        <input name="settings[admin][product][meta][title][template]" type="text" class="form-control" id="inputSettingsProductMetaTitleTemplate" placeholder="">
                         <small class="form-text text-muted">This field can use <a href="#tokensProduct">tokens</a></small>
                    </div>
                    <div class="form-group">
                        <label for="inputSettingsProductMetaDescriptionTemplate">Meta Description Template</label>
                        <input name="settings[admin][product][meta][description][template]" type="text" class="form-control" id="inputSettingsProductMetaDescriptionTemplate" placeholder="">
                        <small class="form-text text-muted">This field can use <a href="#tokensProduct">tokens</a></small>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputSettingsProductPerPageAdmin">Products Per Page (Admin)</label>
                                <input name="settings[admin][product][perPage]" type="number" class="form-control" id="inputSettingsProductPerPageAdmin" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputSettingsProductPerPagePublic">Products Per Page (Public)</label>
                                <input name="settings[public][product][perPage]" type="number" class="form-control" id="inputSettingsProductPerPagePublic" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a name="tokensProduct"></a>
                        <label>Tokens</label>
                        <small class="form-text">
                    Global tokens:
                    <ul>
                        <li>[siteName] - website name</li>
                    </ul>
                    Product tokens:
                    <ul>
                        <li>[age] - product age</li>
                        <li>[category] - product category</li>
                        <li>[color] - product color</li>
                        <li>[name] - product name</li>
                        <li>[oldPrice] - product old price</li>
                        <li>[price] - product price</li>
                        <li>[season] - product season</li>
                        <li>[sex] - product sex</li>
                        <li>[shop] - product shop</li>
                        <li>[vendor] - product category</li>
                    </ul>
                    Date tokens:
                    <ul>
                        <li>[day] - current day</li>
                        <li>[month] - current month</li>
                        <li>[year] - current year</li>
                        <li>[season] - current season (spring, summer, autumn, winter)</li>
                    </ul>
                </small>
                    </div>
                </div>
            </div>
            <hr />
            <h4>Category</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputSettingsCategoryMetaTitleTemplate">Meta Title Template</label>
                        <input name="settings[admin][category][meta][title][template]" type="text" class="form-control" id="inputSettingsCategoryMetaTitleTemplate" placeholder="">
                         <small class="form-text text-muted">This field can use <a href="#tokensCategory">tokens</a></small>
                    </div>
                    <div class="form-group">
                        <label for="inputSettingsCategoryMetaDescriptionTemplate">Meta Description Template</label>
                        <input name="settings[admin][category][meta][description][template]" type="text" class="form-control" id="inputSettingsCategoryMetaDescriptionTemplate" placeholder="">
                        <small class="form-text text-muted">This field can use <a href="#tokensCategory">tokens</a></small>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputSettingsCategoryPerPage">Categories Per Page (Admin)</label>
                                <input name="settings[admin][category][perPage]" type="number" class="form-control" id="inputSettingsCategoryPerPage" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a name="tokensCategory"></a>
                        <label>Tokens</label>
                        <small class="form-text">
                    Global tokens:
                    <ul>
                        <li>[siteName] - website name</li>
                    </ul>
                    Category tokens:
                    <ul>
                        <li>[name] - category name</li>
                        <li>[parent] - parent name</li>
                        <li>[parents] - all parents name</li>
                    </ul>
                    Date tokens:
                    <ul>
                        <li>[day] - current day</li>
                        <li>[month] - current month</li>
                        <li>[year] - current year</li>
                        <li>[season] - current season (spring, summer, autumn, winter)</li>
                    </ul>
                </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="import" role="tabpanel">...</div>
    </div>
</form>
