<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h6 class="card-title">Total products</h6>
                <p class="card-text h3">987556</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h6 class="card-title">Total vendors</h6>
                <p class="card-text h3">7603</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h6 class="card-title">Views last 30 days</h6>
                <p class="card-text h3">60031</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-block">
                <h6 class="card-title">Purchases last 30 days</h6>
                <p class="card-text h3">60031</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{__ "Notifications"}}</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-danger"><span class="tag tag-pill tag-default">18:22</span> Cant update Lamoda products. <a href="#">View import page</a></li>
                <li class="list-group-item list-group-item-success"><span class="tag tag-pill tag-default">20/10/2016 10:02</span> Updated 256,021 products for Wildberries</li>
                <li class="list-group-item"><span class="tag tag-pill tag-default">20/10/2016 10:02</span> New purchase of <a href="#">Перчатки s.Oliver</a></li>
                <li class="list-group-item list-group-item-success"><span class="tag tag-pill tag-default">20/10/2016 10:02</span> Updated 256,021 products for Qulle</li>
                <li class="list-group-item"><span class="tag tag-pill tag-default">20/10/2016 10:02</span> New purchase of <a href="#">Кроссовик Nike</a></li>
                <li class="list-group-item"><span class="tag tag-pill tag-default">20/10/2016 10:02</span> New purchase of <a href="#">Шуба Гранди</a></li>
            </ul>
        </div>
    </div>
</div>