<md-input-container class="md-block">
  <label>Meta Title</label>
  <input ng-model="model.meta.title">
  <!--<div ng-messages="vm.form.articleForm.title.$error">
    <div ng-message="required">Article title is required.</div>
  </div>-->
</md-input-container>

<md-input-container class="md-block">
  <label>Meta Description</label>
  <textarea ng-model="model.meta.description"></textarea>
  <!--<div ng-messages="vm.form.articleForm.title.$error">
    <div ng-message="required">Article title is required.</div>
  </div>-->
</md-input-container>
