<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/assets/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/admin/assets/css/select2.min.css" rel="stylesheet">
    <link href="/admin/assets/css/select2-bootstrap.min.css" rel="stylesheet">
    <link href="/admin/assets/summernote/bs4/summernote.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/admin/assets/css/simple-sidebar.css" rel="stylesheet">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin: 0;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>