<div class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Navigation" ng-click="vm.toggleDrawer();" ng-if="!vm.showBackButton">
    <md-icon class="material-icons">menu</md-icon>
  </md-button>
  <md-button class="md-icon-button" aria-label="Back" ng-if="vm.showBackButton" ng-click="vm.back()">
    <md-icon class="material-icons">arrow_back</md-icon>
  </md-button>
  <!--<div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand">MEAN.JS</a>
  </div>-->
  <!--<nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
      <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
            <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
  </nav>-->
  <h2>
    <!--<img src="/modules/core/client/admin/img/brand/logo.png" style="height: 40px; vertical-align: middle">-->
    <img src="/modules/core/client/admin/img/brand/logo.svg" style="height: 40px; vertical-align: middle">
    <span ng-bind="vm.sectionName" style="vertical-align: middle; display: inline-block; margin-left: 10px; border-left: 1px solid rgba(255,255,255,0.3); padding-left: 16px;"></span>
</h2>
<span flex></span>
<!--<md-button class="md-icon-button" aria-label="More">
    <md-icon>more_vert</md-icon>
  </md-button>-->
<div>
  <md-menu md-position-mode="target-right target" md-offset="0 56">
    <md-button class="md-icon-button" style="margin: 0;" ng-click="$mdOpenMenu($event)" aria-label="Profile">
<img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" style="border-radius: 50%; width: 40px; height: 40px; margin: -8px;" />
</md-button>
<md-menu-content width="4">
  <md-menu-item ng-repeat="item in vm.accountMenu.items">
    <md-button ui-sref="{{item.state}}"> {{ item.title }} </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="/api/auth/signout" target="_self">Sign out</md-button>
  </md-menu-item>
</md-menu-content>
</md-menu>
</div>
<!--<ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>-->
</div>
<div class="md-toolbar-tools" ui-view="tabs" ng-if="vm.hasTabs"></div>
