<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-title">{{vm.article._id ? 'Edit Article' : 'New Article'}}</span>
    </md-card-title-text>
  </md-card-title>
  <form name="vm.form.articleForm" class="form-horizontal" ng-submit="vm.save(vm.form.articleForm.$valid)" novalidate>
    <div layout-padding>
      <div>
        <md-input-container class="md-block" show-errors>
          <label>Title</label>
          <input name="title" ng-model="vm.article.title" required>
          <div ng-messages="vm.form.articleForm.title.$error">
            <div ng-message="required">Article title is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Content</label>
          <textarea data-ng-model="vm.article.content" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </div>
    <md-card-actions layout="row" layout-align="start center">
      <md-button class="md-primary" type="submit">{{vm.article._id ? 'Update' : 'Create'}}</md-button>
      <md-button ng-show="vm.article._id" ng-click="vm.remove()">Remove</md-button>
    </md-card-actions>
  </form>
</md-card>
