<form class="row" method="POST" enctype="multipart/form-data">
    <div class="col-md-6">
        <div class="form-group">
            <label for="inputProductName">Name</label>
            <input name="product[name]" type="text" class="form-control" id="inputProductName" placeholder="Product name">
        </div>
        <div class="form-group">
            <label for="inputProductDescription">Description</label>
            <textarea name="product[description]" class="form-control" id="inputProductDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="inputProductCategory">Categories</label>
            <select name="product[category]" class="form-control" id="inputProductCategory" multiple="multiple">
                <option value="Женщине">Женщине</option>
                <option value="Одежда">Одежда</option>
                <option value="Блузки">Блузки</option>
                <option value="Свитера">Свитера</option>
                <option value="Колготки">Колготки</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inputProductVendor">Vendor</label>
            <select name="product[vendor]" class="form-control" id="inputProductVendor">
                <option value="Adidas">Adidas</option>
                <option value="Oodji">Oodji</option>
                <option value="Reebok">Reebok</option>
                <option value="Puma">Puma</option>
                <option value="s'Olives">s'Olives</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputProductPrice">Price</label>
                    <div class="input-group">
                        <input name="product[price]" type="text" class="form-control" id="inputProductPrice" placeholder="0.00">
                        <span class="input-group-addon">RUB</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputProductOldprice">Old price</label>
                    <div class="input-group">
                        <input name="product[oldprice]" type="text" class="form-control" id="inputProductOldprice" placeholder="0.00">
                        <span class="input-group-addon">RUB</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputProductUrl">Url</label>
            <input name="product[url]" type="text" class="form-control" id="inputProductUrl" placeholder="URL">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputProductColor">Color</label>
                    <select name="product[color][]" class="form-control" id="inputProductColor" multiple="multiple">
                        <option value="Белый">Белый</option>
                        <option value="Розовый">Розовый</option>
                        <option value="Синий">Синий</option>
                        <option value="Красный">Красный</option>
                        <option value="Черный">Черный</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputProductMaterial">Material</label>
                    <select name="product[material][]" class="form-control" id="inputProductMaterial" multiple="multiple">
                        <option value="Замш">Замш</option>
                        <option value="Кожа">Кожа</option>
                        <option value="Кожзам.">Кожзам.</option>
                        <option value="Хлопок">Хлопок</option>
                        <option value="Шерсть">Шерсть</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputProductSize">Size</label>
                    <select name="product[size][]" class="form-control" id="inputProductSize" multiple="multiple" size="9">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputProductSeason">Season</label>
                    <select name="product[season]" class="form-control" id="inputProductSeason">
                        <option value="Демисезон">Демисезон</option>
                        <option value="Мультисезон">Мультисезон</option>
                        <option value="Зима">Зима</option>
                        <option value="Лето">Лето</option>
                        <option value="Весна/Осень">Весна/Осень</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Sex</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios1" value="0">
                            None
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="1">
                            Toddler
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="2">
                            Child
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="product[sex]" id="optionsRadios2" value="3">
                            Adults
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputProductShop">Shop</label>
            <select name="product[shop]" class="form-control" id="inputProductShop">
                <option value="Lamoda">Lamoda</option>
                <option value="Wildberries">Wildberries</option>
                <option value="Quelle">Quelle</option>
                <option value="La Redoute">La Redoute</option>
                <option value="KupiVip">KupiVip</option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="inputProductAlias">Alias</label>
            <input name="product[alias]" type="text" class="form-control" id="inputProductAlias" placeholder="product-name-vendor-id">
        </div>
        <div class="form-group">
            <label for="inputProductMetaTitle">Meta Title</label>
            <input name="product[meta][title]" type="text" class="form-control" id="inputProductMetaTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="inputProductMetaDescription">Meta Description</label>
            <textarea name="product[meta][description]" class="form-control" id="inputProductMetaDescription" rows="3"></textarea>
        </div>
    </div>
</form>
